@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

#title {
    font-family: "Open Sans", sans-serif;
}

#statistics {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;

}

#photography {
    font-family: "Open Sans", sans-serif;
}

#photos {
    width: "500";
    height: "500";
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    height: auto;
    padding: 5px;
  }

  .row {
    color: #7B7B7B;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
  }



  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }